/* 
  body {
    margin: 0;
    padding: 0;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  header,
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    min-height: 10%;
  }
  
  nav {
    top: 10%;
    min-height: 5%;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  nav li {
    display: inline;
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  section {
    overflow: hidden;
    transition: height 0.5s ease;
    padding-top: 15%; 
    min-height: 75%;
  }

  .external-link {
    color: blue;
    text-decoration: underline;
  }
  

  #home {
    background-color: bisque;
  }

  #about {
    background-color: azure;
  }

  #scg {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    min-height: 10%;
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
  } 
*/

body {
  min-height: 100vh;
  background-color: rgb(202, 202, 202);
}

/* ----------------header-------------------------- */
header {
  text-align: center;
  min-height: 10%;
  padding: 20px;
  text-align: center;
}

main {
  min-height: 100vh;
}

header h1 {
  margin: 0;
}

header a {
  text-decoration: none;
  color: black;
}

div{
  display: flex;
  align-items: center;
  justify-content: center;
}

div p{
  width: 35vw;
  padding: 50px;
  font-size: large;
}

@keyframes borderTransition {
  0% {
    border-radius: 73% 27% 74% 26% / 26% 45% 55% 74%;
    border-color: #000;
  }
  25% {
    border-radius: 30% 70% 50% 50% / 70% 20% 80% 30%;
    border-color: #000;
  }
  50% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    border-color: #000;
  }
  75% {
    border-radius: 70% 30% 20% 80% / 40% 60% 80% 20%;
    border-color: #000;
  }
  100% {
    border-radius: 73% 27% 74% 26% / 26% 45% 55% 74%;
    border-color: #000;
  }
}

div img {
  width: 400px;
  animation: borderTransition 10s infinite linear; /* Adjust the duration and timing function as needed */
  border: 2px solid;
}

/* --------------------------nav----------------------- */
nav ul {
  padding: 10px 0;
  list-style: none;
  text-align: center;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: black;
}

.active {
  background-color: rgb(222, 213, 201);
}

#home {
  padding: 10px 5px 10px 20px;
  border-radius: 50px 0 0 50px;
}

#about {
  padding: 10px 20px 10px 5px;
  border-radius: 0 50px 50px 0;
}

footer {
  text-align: center;
  min-height: 20%;
  padding: 40px;
}

footer div {
  display: inline;
  margin: 20px;
}

footer a {
  text-decoration: none;
  color: black;
}